<script>
    
    var elements = document.querySelectorAll('p'); // 
    Array.prototype.forEach.call(elements, function(el, i){
        // console.log(el.innerHTML); // print out the inner html of each element (from the selector above)
        // console.log(el);
        // console.log(el.innerHTML);
        if(el.innerHTML=='[expand]') { // if the inner text of the paragraph is equal to "[expand]"
            // console.log("true")
            // console.log(el.parentNode)
            // console.log(el.parentNode.innerHTML)
            var parentcontent = el.parentNode.innerHTML.replace('<p>[expand]</p>','<div class="expand" style="display: none; height: 0; overflow: hidden;">').replace('<p>[/expand]</p>','</div>');
            el.parentNode.innerHTML = parentcontent;
        }
    });

    var elements = document.querySelectorAll('div.expand');
    // console.log(elements)
    Array.prototype.forEach.call(elements, function(el, i){
        // console.log("div.expand coming up!")
        // console.log("try?")
        // console.log(el.previousElementSibling.innerHTML)
        el.previousElementSibling.innerHTML = el.previousElementSibling.innerHTML + '<span>..&nbsp; <a href="#" style="cursor: pointer;" onclick="this.parentNode.parentNode.nextElementSibling.style.display = \'block\'; this.parentNode.parentNode.nextElementSibling.style.height = \'auto\'; this.parentNode.style.display = \'none\';">read&nbsp;more&nbsp;&rarr;</a></span>';
    });

</script>